@import "tailwindcss";

/* your custom globals */
:root {
  --color-rose: #fb7185;
  --color-purple: #a78bfa;
  --color-pink: #fbcfe8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
  background-color: white;
  color: #111827;
}
